/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./1-gallery.css');
@import url('./2-form.css');


/* main page */

a {
  display: block;
  margin: 15px;
  width: 65px;
  text-align: center;
  border-radius: 5px;
  background-color: aquamarine;
  border: thick double #242424;
}